.container() {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media @desktop-widths {
        width: 1250px;
        margin: 0 auto;
        box-sizing: border-box;
        // padding: 0;
    }
}

.list-unstyled() {
    list-style: none;
    margin: 0;
    padding: 0;
}